footer {
    text-decoration:none;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 69px;
    display: flex;
    text-align: left;
    text-align: center;
    text-indent: 1px;
    color: white;
    }
    
    body{
        background: rgba(20, 21, 36, 0.93);
    }
    
    .pogoda {
        text-decoration: none;
        color: white;
        box-sizing: border-box;
        position: absolute;
        right: 1000px;
        top: 80px;
    }
    
    .taro {
        text-decoration: none;
        color: white;
        box-sizing: border-box;
        position: absolute;
        right: 600px;
        top: 80px;
    }
    
    .goroskop {
        text-decoration: none;
        color: white;
        box-sizing: border-box;
        position: absolute;
        right: 100px;
        top: 80px;
    }

    .zodiak {
        position: absolute;
        top: 243px;
        display: flex;
        background: rgba(15, 20, 47, 1);
        width: 1854px;
        height: 800px;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
    }

    .rectangle {
        width: 194px;
    height: 249px;

    background: rgba(78, 170, 221, 0.17);
    border-radius: 15px;
    }

    .rectangle2{
        left: 330px;
        top: 367px;
        box-sizing: border-box;
        font-family: 'Nunito Sans';
        font-size: 44px;
        display: flex;
        text-align: center;
        color: #FFFFFF;
        position: absolute;
        width: 182px;
        height: 65px;
        background-color: rgba(64, 64, 64, 1);
        border: 1px solid #404040;
        border-radius: 60px;
        cursor: pointer;
        align-items: center;

    }
    .rectangle3{
        left: 834px;
        top: 610px;
        box-sizing: border-box;
        font-family: 'Nunito Sans';
        font-size: 44px;
        display: flex;
        text-align: center;
        color: #FFFFFF;
        position: absolute;
        width: 182px;
        height: 65px;
        background-color: rgba(64, 64, 64, 1);
        border: 1px solid #404040;
        border-radius: 60px;
        cursor: pointer;
        align-items: center;

    }
    .rectangle4{
        right: 338px;
        top: 610px;
        box-sizing: border-box;
        font-family: 'Nunito Sans';
        font-size: 44px;
        display: flex;
        text-align: center;
        color: #FFFFFF;
        position: absolute;
        width: 182px;
        height: 65px;
        background-color: rgba(64, 64, 64, 1);
        border: 1px solid #404040;
        border-radius: 60px;
        cursor: pointer;
        align-items: center;

    }

    .rectangle5 {
        margin: 56px;
        margin-top: 474px;
        width: 194px;
        height: 249px;
        background: rgba(78, 170, 221, 0.17);
        border-radius: 15px;
    }

    .zodiak2{
        position: fixed;
        z-index: 2;
        display: flex;
    }